<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        .background {
            width:1000px;
            height:500px;
            background-color:red;
            position:relative;


        }
        .nokta {
            position: absolute;
            height: 400px;
            width: 400px;
            background-color: white;
            border-radius: 50%;
            left: 125px;
            top: 50px;
        }
        .nokta1 {
            position: absolute;
            height: 345px;
            width: 318px;
            background-color: red;
            border-radius: 50%;
            left: 210px;
            top: 75px;
        }

        .yildiz {
            position: absolute;
            height: 200px;
            width: 200px;
            color: white;
            left: 540px;
            top: 50px;
            font-size: 266px;
            transform: rotate(48deg);
        }

    </style>
</head>


<body>


    <div class="background">
        <div style="text-align:center">
            <span class="nokta"></span>
        </div>
        <div style="text-align:center">
            <span class="nokta1"></span>
        </div>
        <span class="yildiz">&#9733;</span>
        


    </div>

</body>
</html>